apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
name: sf1-scraper
namespace: monitoring
labels:
release: prometheus
spec:
selector:
matchLabels:
app: sf1-scraper
role: worker
namespaceSelector:
matchNames:
- default
endpoints:
- port: metrics
interval: 30s