name: Docs Linkcheck
on:
  pull_request:
    paths:
      - 'docs/**/*.md'
  push:
    branches: [ main ]
    paths:
      - 'docs/**/*.md'

jobs:
  linkcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Link Checker
        uses: lycheeverse/lychee-action@v2
        with:
          args: >-
            --no-progress
            --max-concurrency 4
            --accept 200,204,206,301,302,303,307,308
            --exclude-path './node_modules'
            'docs/**/*.md'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}